<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>

    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
                <h1 class="display-3">About Us</h1>
                <p class="lead">This is a node.js app developed by Vicky Dowsett as part of her Bloc.io web developer studies</p>
              </header>
    </main>

    <% include ./partials/baseScripts.ejs %>

  </body>
  </html>